@font-face{
  font-family: cs quipster drawn;
  src: url('cs-quipster-drawn-font/CsquipsterdrawnRegularDemo-rvVZL.otf');
  font-weight: bolder;
}

html {
  background-image:url(/images/forestPath.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 170%;
  background-color: rgba(240, 248, 255, 0.157);
  margin: 0%;
}

header{
  background-color: rgba(19, 40, 12, 0.485);
  height: 60%;
}

nav {
  background-color: #ffffff;
}

nav ul {
  height: 4em;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  margin: 0em;
}

nav ul li{
  display: inline-block;
  height: 50%;
  width: 25%;
  position: relative;
  left: 5%;
  top: 30%;
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 150%;
  margin-right: 5%;
  text-align: center;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight:900;
}

nav ul li a:hover {
  text-shadow: gray 1px 5px 6px;
}

header div#decorativeBar {
  position: relative;
  bottom: 0px;
  background-color: rgb(104, 124, 5);
  width: 100%;
  height: 1em;
}

header h1 {
  text-align: center;
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  position: relative;
  top: 10%;
  left: 10%;
  font-size: 500%;
  text-shadow: #ffffff 0.1em 0.1em 0.5em;
  width: 70%;
  margin: 5%;
}

figure#baconSitting {
  display: inline-block;
  position: relative;
  left: 33%;
  height: 50%;
  width: auto;
  margin-bottom: 8%;
}

figure#baconSitting>img {
  height: 20em;
  width: 20em;
  border-radius: 100%;
} 

main {
  background-color: #ffffff;
  font-size: 120%;
} 

/* For styling the Home page */
main p{
  position: relative;
  left: 23%;
  line-height: 2em;
  width: 40%;
  float: left;
  background-color: #fff;
  border-radius: 10%;
  padding: 2%;
  margin: 5%;
}

/* For styling the Home page */
p a {
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

/* For styling the Neighborhood Walks & Parks pages */
div#image-collection {
  background-color: #ffffff;
}

/* For styling the Neighborhood Walks & Parks pages */
div#image-collection>img {
  position: relative;
  left: 5%;
  display: inline-block;
  height: 10em;
  width: 10em;
  border-radius: 20%;
  margin: 2%;
  box-shadow:gray 0.5em 0em 1em 0.3em ;
}

footer {
	background-color: #d0d0d095;
	display: flex;
	width: 100%;
}

footer p {
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
  line-height: 2em;
} 
